<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/style.css" type="text/css" />
    <title>Fallacies Leaderboard</title>
</head>

<body>
    <a href="https://www.csivit.com/"><img src="/public/img/CSIDark(saturated).png" alt="CSI LOGO"
            class="csilogo" /></a>
    <div class="leaderboard">
        <div class="header">
            <img src="/public/img/title.png" alt="LOGO" class="logo" />
        </div>

        <table id="leaderbordTable">
            <tr>
                <th>Username</th>
                <th>Score</th>
            </tr>
            <tr>
                <td>Rahil</td>
                <td>&emsp; 7</td>
            </tr>
            <tr>
                <td>David</td>
                <td>&emsp; 7</td>
            </tr>
            <tr>
                <td>Bongy</td>
                <td>&emsp; 6</td>
            </tr>
            <tr>
                <td>Panda</td>
                <td>&emsp; 5</td>
            </tr>
            <tr>
                <td>Shivansh</td>
                <td>&emsp; 4</td>
            </tr>
            <tr>
                <td>Shaarang</td>
                <td>&emsp; 4</td>
            </tr>
            <tr>
                <td>Bongy</td>
                <td>&emsp; 6</td>
            </tr>
            <tr>
                <td>Panda</td>
                <td>&emsp; 5</td>
            </tr>
            <tr>
                <td>Shivansh</td>
                <td>&emsp; 4</td>
            </tr>
            <tr>
                <td>Shaarang</td>
                <td>&emsp; 4</td>
            </tr>
        </table>
        {{!-- <a href="./index.html"><button class="btn-signout">Log Out</button></a> --}}
        {{!-- <a href="./gamepage.html"><button class="btn-leaderboard" id="submission">SUBMISSION PAGE</button></a> --}}
    </div>

</body>

</html>