<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png" />
    <title>Fallacies</title>
</head>

<body onload=loaded()>
    <div id="loader"><img src="./public/img/loading.gif" alt="Loading..." class="loading-gif"></div>>
    <img src="/public/img/CSIDark(saturated).png" alt="CSI LOGO" class="csilogo" />
    <div class="container">
        <div class="header">
            <img src="/public/img/title.png" alt="LOGO" class="logo" />
            <h2 class="description">Account go brrrrrr</h2>
        </div>
        <div class="containerlev2">
            <form class="signup form" id="signup-form" method="POST" action="/api/user/register">
                <h1 class="heading">request to view files</h1>
                <div class="form__group form__group--username">
                    <label for="username" class="form__label">Username:</label>
                    <input type="text" class="form__input" id="username" name="uname" placeholder="username123" required/>
                </div>
                <div class="form__group form__group--email">
                    <label for="topic" class="form__label">Email:</label>
                    <input type="text" class="form__input" id="email" name="email" placeholder="username123@xyz.com" required />
                </div>
                <div class="form__group form__group--password">
                    <label for="password" class="form__label">Password:</label>
                    <input type="password" class="form__input" id="password" name="pass" placeholder="password123" required />
                </div>
                
                <div class="form__group form__group--cpassword">
                    <label for="c-password" class="form__label">Registration number</label>
                    <input type="password" class="form__input" placeholder="(optional) 18BCE1233" name="regno" id="c-password"  />
                </div>
                
                <div class="form__group form__group--approved">
                    <img class="approved" src="/public/img/Approved(straight).png" alt="approved-img" />
                </div>
                <input type="submit" id="submitButton" class="hidden" />
            </form>
            <!-- <p class="alert alert-error">Error messages</p> -->
        </div>

        <a ><button class="btn-submit"  onclick="login()">SIGN UP</button></a>
       <br />
       <br />
    </div>

    <script>
        if (document.getElementById("loader")) document.querySelector(".container").style.display = 'none';

        function loaded() {
            document.getElementById("loader").style.display = "none";
            document.querySelector(".container").style.display = "flex";
        }

        function login() {
                document.getElementById("submitButton").click();
            }
    </script>
</body>

</html>