<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="shortcut icon" type="image/png" href="../static/img/favicon.png" />
    <title>Fallacies</title>
  </head>
  <body onload=loaded()>
    <div id="loader"><img src="../static/img/loading.gif" alt="Loading..." class="loading-gif"></div>>
    <img src="../static/img/CSIDark(saturated).png" alt="CSI LOGO" class="csilogo" />
    <div class="container">
      <div class="header">
        <img src="../static/img/title.png" alt="LOGO" class="logo" />
        <h2 class="description">What if we told you everything you believe is a lie?</h2>
      </div>
      <div class="containerlev2">
        <form class="signup form" id="signup-form">
          <h1 class="heading">request to view files</h1>
          <div class="form__group form__group--username">
            <label for="username" class="form__label">Username:</label>
            <input
              type="text"
              class="form__input"
              id="username"
              placeholder="username123"
            />
          </div>
          <div class="form__group form__group--email">
            <label for="topic" class="form__label">Email:</label>
            <input
              type="text"
              class="form__input"
              id="email"
              placeholder="username123@xyz.com"
            />
          </div>
          <div class="form__group form__group--password">
            <label for="password" class="form__label">Password:</label>
            <input
              type="password"
              class="form__input"
              id="password"
              placeholder="password123"
            />
          </div>
          <div class="form__group form__group--cpassword">
            <label for="c-password" class="form__label">Verify Password:</label>
            <input
              type="password"
              class="form__input"
              placeholder="password123"
              id="c-password"
            />
          </div>
          <div class="form__group form__group--approved">
            <img
              class="approved"
              src="../static/img/Approved(straight).png"
              alt="approved-img"
            />
          </div>
        </form>
        <!-- <p class="alert alert-error">Error messages</p> -->
      </div>

      <a href="./index.html"><button class="btn-submit">SIGN UP</button></a>
      <h4 class="bottom-line bottom-line-signup">
        Already have an account?
        <span><a class="btn-redirect" href="./index.html">Log In</a> now</span>
      </h4>
    </div>

    <script>
      if(document.getElementById("loader")) document.querySelector(".container").style.display = 'none';

      function loaded() {
        document.getElementById("loader").style.display = "none";
        document.querySelector(".container").style.display = "flex";
      }
    </script>
  </body>
</html>
